* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  height: 100vh;
  margin: 0 auto;
}

.clearfix:after {
  clear: both;
  display: table;
  content: "";
}

.header-nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 70px;
  padding: 20px 0px;
}

.logo img {
  width: 100%;
}

.nav-items {
  list-style: none;
  display: flex;
  font-size: 13px;
  font-weight: 600;
  line-height: 95px;
}

.nav-item {
  padding: 0px 14px;
  color: #303030;
  cursor: pointer;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-item a:hover {
  color: #0282f9;
}

.nav-item:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

